.sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #0e6cff;
  color: #fff;
  margin-left: -250px;
  transition: all 0.5s;
}

.sidebar.is-open {
  margin-left: 0;
  transition: 0.5s;
}

.sidebar-nav-item {
  color: white;
}

.sidebar-header {
  background: #0e6cff;
}

.sidebar-header h3 {
  color: #fff;
  padding: 1em;
}

.sidebar ul p {
  color: #fff;
  padding: 10px;
}

.menu-open {
  background: #fff;
}

.nav-item:hover {
  color: #fff;
  background: #fff;
}

.items-menu {
  color: #fff;
  background: #0e6cff;
}

li a.dropdown-toggle::after {
  display: inline-flex;
  position: relative;
  left: 60%;
  top: 10%;
}

.sidebar-header > span {
  position: relative;
  float: right;
  margin: 0.5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.side-menu {
  height: calc(100vh - 130px);
  overflow-y: scroll;
}

.side-menu::-webkit-scrollbar {
  width: 10px;
}

.side-menu::-webkit-scrollbar-thumb {
  background: #0e6cff;
  border-radius: 3px;
}

.side-menu::-webkit-scrollbar-thumb:hover {
  background: #0e6cff;
}
