.sidebarstudent {
  min-width: 100%;
  max-width: 100%;
  height: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: #fff;
  transition:0.5s;
  background: #FFC107;
}

.is-open {
  transition: 0.5s;
}

.sidebarstudent-nav-item {
  color: #000;
}

.sidebarstudent-nav-item:hover {
  color: #000 !important;
}

.sidebarstudent-header {
  background: #FFC107;
}

.sidebarstudent-header h3 {
  color: #000;
  padding: 1em;
}

.sidebarstudent ul p {
  color: #fff;
  padding: 10px;
}

.menu-open {
  background: #fff;
}

.nav-item:hover {
  color: #fff;
  background: #fff;
}

.items-menu {
  color: #fff;
  background: #FFC107;
}

li a.dropdown-toggle::after {
  display: inline-flex;
  position: relative;
  left: 60%;
  top: 10%;
}

.sidebarstudent-header > span {
  position: relative;
  float: right;
  margin: 0.5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.side-menu {
  height: calc(100vh - 130px);
  overflow-y: scroll;
}

.side-menu::-webkit-scrollbar {
  width: 10px;
}

.side-menu::-webkit-scrollbar-thumb {
  background: #FFC107;
  border-radius: 3px;
}

.side-menu::-webkit-scrollbar-thumb:hover {
  background: #FFC107;
}
